@model xMovies.ViewModels.MovieIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Movie Index</h2>
<button>@Html.ActionLink("Add New Movie", "New", "Movie")</button>
<table class="table table-bordered table-hover" id="movies">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function() {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movie/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='/movie/edit" + movie.id + "'>" + data + "</a>"
                        }
                    },
                    {
                        data: "releaseDate"
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-link js-delete' movieId=" + data + ">Delete</button>"
                        }
                    }
                ]
            });
            $('#movies').on("click", "js-delete", function () {
                var button = $(this);
                var str = ("/api/movie/" + button.attr.movieId).replace(" ", "");
                bootbox.confirm("You sure to delete this movie from database?", function (res) {
                    if (res) {
                        $.ajax({
                            url: (str),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        })
                    }
                });
            });
        });
        
    </script>    
}
