@model xMovies.ViewModels.CustomerIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<button>@Html.ActionLink("Add New Customer", "New", "Customer")</button>

@if (!Model.Customers.Any())
{
    <h4>We Don't have any customers yet.</h4>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customer", new { Id = customer.Id }, null)</td>
                    @if (customer.MembershipTypeId < 3)
                    {
                        <td>Member</td>
                    }
                    else
                    {
                        <td>VIP</td>
                    }
                    <td><button class="btn btn-link js-delete" customerId =" @customer.Id">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>

}

@section scripts{
    <script>
        $(document).ready(function () {
            $(".js-delete").on("click", function () {
                var button = $(this);
                var str = "/api/customer/" + button.attr("customerId").replace(" ", "");
                bootbox.confirm("Sure you wanna delete the customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: (str),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
