@model xMovies.ViewModels.CustomerIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<button>@Html.ActionLink("Add New Customer", "New", "Customer")</button>

@if (!Model.Customers.Any())
{
    <h4>We Don't have any customers yet.</h4>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customer", new { Id = customer.Id }, null)</td>
                    @if (customer.MembershipTypeId < 3)
                    {
                        <td>Member</td>
                    }
                    else
                    {
                        <td>VIP</td>
                    }
                </tr>
            }
        </tbody>
    </table>

}

